# Logs
logs
*.log
npm-debug.log*

# Dependency directories (JANGAN DIHAPUS, INI PENTING AGAR UPLOAD CEPAT)
node_modules/

# Build directory
dist/
build/

# Environment variables
.env
.env.local
.DS_Store
vercel.zip
PROJEK LAGII.zip
vercel.zip
vercel.zip
